@import "./imports/_normalize.scss";

*{ box-sizing: border-box }
img {
   // width: 100%;
   display: block;
}

#app-container{
   font-family: Helvetica, sans-serif;
   background-color: rgba(000,000,000,1);
}
h1, h2, h3, h4{
   font-family: 'Gloria Hallelujah', cursive;
   color: rgba(255,255,255,1);
}

i{
   position: fixed;
   top: 5px;
   right: 5px;
}
span{
   border-radius: 10px;
}
